.comment {
    height: 80vh;
    background-color: rgb(33, 33, 33);
    position: relative;

    .map {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 55%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .img-avatar2 {
        position: absolute;
        top: 8%;
        left: 50%;
        transform: translateX(-50%);
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
        z-index: 1;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .comment-text {
        border: 1px solid red;
        height: 52%;
        width: 65%;
        left: 17%;
        top: 13%;
        background-color: whitesmoke;
        position: absolute;

        @media screen and (max-width: 1380px) {
            height: 65%;   
        }

        @media screen and (max-width: 1064px) {
            height: 85%;
        }

        
        p {
            text-align: center;
            font-size: 1.4rem;
            padding: 90px 100px;
            line-height: 40px;
            font-family: $font-roboto;
        }

        h4 {
            text-align: center;
            font-size: 1.8rem;
            font-family: $font-roboto;
            text-transform: capitalize;
            font-weight: 400;
            margin-top: -50px;
        }

        h6 {
            text-align: center;
            font-size: 1.2rem;
            font-family: $font-roboto;
            text-transform: capitalize;
            font-weight: 400;
            margin-top: 20px;
            color: $color1;
        }

        @media screen and (max-width: 800px) {
            p {
                font-size: 1rem;
                padding: 70px 50px;
            }
        }
    }
}