.menu {
    height: 123vh;
    background-color: rgb(33, 33, 33);
    color: white;
    background-image: url(../img/bg-menu-01.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain; 

    
}

    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 32vh;
        position: relative;

        &::after {
            content: "";
            height: 5px;
            background-color: $color1;
            width: 52%;
            position: absolute;
            bottom: 0;
        }

        h3 {
            text-transform: capitalize;
            font-size: 2.5rem;
            font-weight: 400;
            margin-top: 20px;
            padding-top: 15px;
        }

        .img-plate {
            position: relative;
            margin-top: 40px;
            margin-left: 25px;
        }

        ul {
            height: 40px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            gap: 135px;
            margin-top: 30px;

            li {
                font-size: 1.2rem;
                font-weight: 400;
                cursor: pointer;
                font-family: $font-roboto;
                text-transform: capitalize;
                text-decoration: underline;
                text-underline-offset: 15px;  
            }
        }
    }

    .plate-menu {
        background-color: white;
        color: black;
        width: 52%;
        margin: 0 auto;
        height: 80vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .dishes {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;


            .img-dish {
                img {
                    border-radius: 50%;
                    transform: scale(1.1);
                }
            }

            .text-dish {
                

                h4 {
                    text-transform: uppercase;
                    text-align: left;
                }
            }
        }

        
}