.reservation {
    background-color: rgb(33, 33, 33);
    color: white;
    height: 83vh;
    padding: 95px 0;

    @media screen and (max-width: 1200px) {
        height: 200vh;
    }

    .reservation-container {
        
        display: grid;
        grid-template-columns: 30% 70%;
        align-items: center;
        padding: 0 300px;
        height: 100%;

        @media screen and (max-width: 1620px) {
            padding: 0 100px;
        }

        @media screen and (max-width: 1200px) {
            display: block;
        }
        
        .reservation-left {
            background-color: black;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 70px;
            outline: 1px dashed white;
            outline-offset: -35px;

            @media screen and (max-width: 1200px) {
                height: 50%;
            }

            .time-title {
                h3{
                    font-size: 3rem;
                    font-weight: 400;
                    line-height: 30px;
                    text-align: center;

                }

                h2 {
                    font-size: 1.7rem;
                    text-transform: uppercase;
                    text-align: center;
                    font-weight: bold;
                    font-family: $font-poppins;
                    line-height: 25px;
                    letter-spacing: 3px;
                }
            }

            .img-plate {
                margin-top: -20px;
                img {
                    display: flex;
                    justify-content: center;
                    max-width: 100%; /* Ensure the image fits within the container */
                    height: auto; /* Maintain aspect ratio */
                }   
            }

            .time-week, .time-week-end {

                h4 {
                    color: $color1;
                    font-size: 1.2rem;
                    text-transform: uppercase;
                    font-family: $font-roboto;
                    letter-spacing: 2px;
                    margin-bottom: 25px;;
                }

                p {
                    text-align: center;
                    font-family: $font-roboto;
                    line-height: 20px;
                }
                
            }

            .time-week {
                margin-top: -25px;
            }

            .time-week-end {
                margin-top: -35px;
            }

            .num-tel{
                color: $color1;
                font-size: 1.3rem;
                margin-top: -50px;
                font-family: $font-roboto;
                font-weight: 600;
                letter-spacing: 2px;

            }

        }

        .reservation-right {
            background-color: whitesmoke;
            color: black;
            height: 100%;
            display: grid;
            grid-template-rows: 35% 15% 50%;

            @media screen and (max-width: 1200px) {
                height: 50%;
            }

            .reservation-title {
                padding-top: 90px;
                margin-bottom: -25px;
                h3 {
                    font-size: 3.5rem;
                    font-weight: 400;
                    text-align: center;
                }

                h2 {
                    text-transform: uppercase;
                    font-size: 2.3rem;
                    font-weight: 600;
                    font-family: $font-poppins;
                    margin-top: -25px;
                    text-align: center;
                }
            } 
            
            .img-plate {
                margin: 0 auto;
            }

            .reservation-form {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                justify-content: center;
                align-items: center;
                gap: 15px;
                padding: 0 70px;
                height: 100%;

                input, select {
                    width: 100%; // Prend toute la largeur de son conteneur
                    padding: 10px 0; // Espace vertical pour un effet minimaliste
                    border: none; // Pas de bordure sur les côtés
                    border-bottom: 2px solid #ccc; // Bordure uniquement en bas
                    background: transparent; // Fond transparent
                    font-size: 16px; // Taille de police pour le texte
                    color: #333; // Couleur du texte
                
                    &:focus {
                      outline: none; // Supprime le contour bleu par défaut
                      border-bottom-color: #d4a373; // Change la couleur de la bordure au focus
                    }
                
                    &::placeholder {
                      color: #aaa; // Couleur des placeholders
                      font-style: italic; // Placeholder en italique
                    }
                }

                button {
                    grid-column: 2 / span 1;
                    padding: 10px 20px;
                    background-color: black;
                    color: #fff;
                    border: none;
                    cursor: pointer;
                    font-size: 16px;
                    transition: background-color 0.3s ease;
                    border-radius: 100px;
                }

                @media screen and (max-width: 1200px) {
                    display: block;

                    input, select {
                        width: 100%;
                        height: 50px;
                        margin-bottom: 10px;
                        margin-top: -15px;
                    }

                    button {
                        display: block;
                        margin: 30px auto;   
                        padding: 30px 50px;
                        font-size: 18px;
                    }
                    
                }
            }
        }
    }
}