@font-face {
  font-family: "Allura";
  src: url(../fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Light.ttf);
}
* {
  /*border: 1px solid red;*/
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.up-title {
  color: #a67245;
  font-family: Allura, sans-serif;
}

.img-icon {
  background: url(../img/ic-plate-big.png) no-repeat;
  width: 50px;
  height: 50px;
}

.img-plate {
  background: url(../img/ic-plate.png) no-repeat;
  background-size: 35px 35px;
  width: 50px;
  height: 50px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header {
  height: 100vh;
  background: url(../img/bg-slider-06.jpg);
  background-size: cover;
  background-position: center;
  color: white;
}
.header nav {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25px;
}
@media screen and (max-width: 680px) {
  .header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 25px;
  }
}
.header nav h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: Allura, sans-serif;
  font-size: 3rem;
  text-transform: capitalize;
  padding-right: 25px;
}
.header nav ul.choices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 50px;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-family: Roboto, sans-serif;
}
@media screen and (max-width: 900px) {
  .header nav ul.choices {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 680px) {
  .header nav ul.choices {
    font-size: 0.9rem;
    gap: 15px;
  }
}
.header nav ul.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  margin-left: 10px;
}
.header .title-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 110px;
  height: 50vh;
}
.header .title-middle .title {
  margin-top: 80px;
}
.header .title-middle .title h2 {
  font-size: 4rem;
  text-align: center;
  font-weight: 400;
}
.header .title-middle .title h1 {
  font-family: Poppins, sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 40px;
  letter-spacing: 12px;
}
.header .title-middle .img-icon img {
  max-width: 100%;
  height: auto;
}
.header .title-middle .slogan {
  font-family: Roboto, sans-serif;
  font-size: 0.9rem;
  text-align: center;
  font-weight: 300;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.presentation {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 55vh;
}
.presentation .description-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
  background-color: whitesmoke;
  outline: 1px dashed #a67245;
  outline-offset: -20px;
}
.presentation .description-left .description {
  width: 100%;
  margin-bottom: 20px;
}
.presentation .description-left h3 {
  font-size: 2.5rem;
  text-transform: capitalize;
  text-align: center;
  font-weight: 400;
  margin-bottom: -20px;
}
.presentation .description-left h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-family: Poppins, sans-serif;
}
.presentation .description-left .img-plate {
  position: relative;
  margin-top: -25px;
  margin-left: 20px;
}
.presentation .description-left p {
  font-family: Roboto, sans-serif;
  font-size: 1.3rem;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}
.presentation .description-left .img-avatar1 {
  display: block;
  margin: 0 auto;
}
.presentation .description-left .img-avatar1 img {
  border-radius: 50%;
  width: 90px;
  height: 90px;
}
.presentation .description-left .name-chief {
  text-align: center;
  font-family: Poppins, sans-serif;
  margin-top: -15px;
}
.presentation .description-left .name-chief h4 {
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: 400;
  margin-top: -10px;
}
.presentation .description-left .name-chief p {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 600;
  color: rgb(180, 180, 180);
}
.presentation .description-right {
  background: url(../img/dish-gallery-06.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 970px) {
  .presentation {
    display: grid;
    grid-template-columns: 100%;
  }
  .description-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .description-right {
    display: none;
  }
}
.menu {
  height: 123vh;
  background-color: rgb(33, 33, 33);
  color: white;
  background-image: url(../img/bg-menu-01.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
.menu .title {
  border: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32vh;
}
.menu .title h3 {
  text-transform: capitalize;
  font-size: 2.5rem;
  font-weight: 400;
  margin-top: 20px;
  padding-top: 15px;
}
.menu .title .img-plate {
  position: relative;
  margin-top: 40px;
  margin-left: 25px;
}
.menu .title ul {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 135px;
  margin-top: 30px;
}
.menu .title ul li {
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  text-transform: capitalize;
  text-decoration: underline;
  text-underline-offset: 15px;
}
.menu .plate-menu {
  background-color: white;
  color: black;
}/*# sourceMappingURL=index.css.map */